{% extends 'base.html.twig' %}

{% block title %}JOBTEQ | COMPANY REGISTER
{% endblock %}

{% block body %}


	<div class="container">
		<h1 class="mb-4">RECRUITER REGISTER</h1>


		<div class=" mx-auto bg-secondary-subtle d-flex flex-column p-5 w-75 gap-3">

			<h2>Complete your registration</h2>

			<div class="my-4">

				{{form_start(form)}}


				{{form_row(form.name)}}
				{{form_row(form.logo)}}
				{{form_row(form.description)}}

				{{form_end(form)}}
			</div>
		</div>


	</div>
{% endblock %}
