{% extends 'base.html.twig' %}

{% block title %}ADMIN | License Cofiguration
{% endblock %}

{% block body %}

	<div class="container">
		<a href="{{path('app_admin_config_index')}}" class="btn btn-primary my-4">back to configurations</a>
		<h1 class="text-primary">
			{{licenseConfig.name}}

		</h1>
		<form action="{{path('app_admin_license_config_delete', {id: licenseConfig.id})}}" data-action="modal-confirmation#onSubmit" method="POST" {{stimulus_controller('modal-confirmation', {formUrl : path('app_admin_license_config_delete', {id: licenseConfig.id} ), title : 'Remove this config?' , icon: 'warning' , confirmbuttontext: 'Yes remove it' , submitasync: true } )}}>
			<input type="hidden" name="_token" value="{{ csrf_token('remove_item') }}"/>
			<button class="btn btn-danger">
				{{ ux_icon('bi:trash3', { height: '30px', width: '30px'}) }}
			</button>
		</form>

		{{include('admin/configurations/license-config/partial/_form-config-licenses.html.twig', {btnText : "Create"} )}}

	</div>
{% endblock %}
